<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="MobileMessagingCordova">
    <param name="ios-package" value="MobileMessagingCordova"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Camera">
    <param name="ios-package" value="CDVCamera"/>
  </feature>

  <feature name="FacebookConnectPlugin">
    <param name="ios-package" value="FacebookConnectPlugin"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="FCMPlugin">
    <param name="ios-package" value="FCMPlugin"/>
  </feature>

  <feature name="FirebaseAuthentication">
    <param name="ios-package" value="FirebaseAuthenticationPlugin"/>
    <param name="onload" value="false"/>
  </feature>

  <feature name="FirebaseConfig">
    <param name="ios-package" value="FirebaseConfigPlugin"/>
  </feature>

  <feature name="Geolocation">
    <param name="ios-package" value="CDVLocation"/>
  </feature>

  <feature name="LottieSplashScreen">
    <param name="ios-package" value="LottieSplashScreen"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="ImagePicker">
    <param name="ios-package" value="SOSPicker"/>
  </feature>

  
</widget>