ion-content {
    --background: linear-gradient(#1148e3 0%, #2959e2 12.25%, #3b68e5 16.25%, #4670e9 28.35%, #6e8ae6 38.23%, #7b9bfc 49.66%, #b1c4ff 75.69%, #c8d2ef 87.58%, #e1e1e1 100%);
    
    ion-button {
        color: #ffffff;

    }
}

@media screen and (min-width:500px) {
    .background-filter {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
