<ion-content padding class="background" [fullscreen]="true">
    <ion-row>
        <ion-col size="2"><br><br>
            <span>
        <ion-icon (click)="home()" name="arrow-back-circle-outline"></ion-icon>
      </span>
        </ion-col>
        <ion-col size="5">Connexion</ion-col>
    </ion-row>

    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" novalidate>
        <ion-list style="justify-items: center;">
            <ion-item>
                <ion-label position="floating" color="primary">Login</ion-label>
                <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" required>
                </ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="username.invalid && username.touched">
                Login obligatoire
            </ion-text>

            <ion-item><br>
                <ion-label position="floating" color="primary">Mot de passe</ion-label>
                <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
                </ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="password.invalid && password.touched">
                Mot de passe obligatoire
            </ion-text>
        </ion-list>

        <ion-row>
            <ion-col><br>
                <ion-button  color="success" [disabled]="loginForm.invalid" style="justify-content: left;" type="submit" expand="block">CONNEXION</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
             type="submit"
             color="primary"
             (click)="loginGoogle()"
             expand="block">
               Connexion avec google
            </ion-button>
          </ion-col>
        </ion-row>
    </form>
    <ion-button color="primary" routerLink="/register" expand="full " style="border: 70px;">Créer un compte</ion-button>
</ion-content>
