
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="accueil">Retour</ion-back-button>
      <ion-button onclick="dismissModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-button expand="full" id="bamako">
    Bamako
  </ion-button>
  <ion-modal trigger="bamako" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            Bamako
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          Pluviométrie annuelle
          <p>Description</p>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-button expand="full" id="kayes">
    Kayes
  </ion-button>
  <ion-modal trigger="kayes" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            Kayes
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          Pluviométrie annuelle
          <p>Description</p>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-button expand="full" id="koulikoro">
    Koulikoro
  </ion-button>
  <ion-modal trigger="koulikoro" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            Climat à Koulikoro
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          Pluviométrie annuelle
          <p>Description</p>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-button expand="full" id="sikasso">
    Sikasso
  </ion-button>
  <ion-modal trigger="sikasso" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            Sikasso
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          Pluviométrie annuelle
          <p>Description</p>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-button expand="full" id="segou">
    Ségou
  </ion-button>
  <ion-modal trigger="segou" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            Ségou
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          Pluviométrie annuelle
          <p>Description</p>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-button expand="full" id="mopti">
    Mopti
  </ion-button>
  <ion-modal trigger="mopti" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            Mopti
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          Pluviométrie annuelle
          <p>Description</p>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-button expand="full" id="tombouctou">
    Tombouctou
  </ion-button>
  <ion-modal trigger="tombouctou" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            Tombouctou
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          Pluviométrie annuelle
          <p>Description</p>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-button expand="full" id="gao">
    Gao
  </ion-button>
  <ion-modal trigger="gao" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            Gao
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          Pluviométrie annuelle
          <p>Description</p>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-button expand="full" id="kidal">
    Kidal
  </ion-button>
  <ion-modal trigger="kidal" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>
            Kidal
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          Pluviométrie annuelle
          <p>Description</p>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-button expand="full" id="koutiala">
    koutiala
  </ion-button>
  <ion-modal trigger="koutiala" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>
            Koutiala
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          Pluviométrie annuelle
          <p>Description</p>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-button expand="full" id="san">
    San
  </ion-button>
  <ion-modal trigger="san" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            San
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          Pluviométrie annuelle
          <p>Description</p>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-button expand="full" id="niono">
    Niono
  </ion-button>
  <ion-modal trigger="niono" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
            Niono
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          Pluviométrie annuelle
          <p>Description</p>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
