<ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="earth-sharp"></ion-icon>
            <ion-label>Localités</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="current">
          <ion-icon name="water-outline"></ion-icon>
            <ion-label>Météo courant</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="forecast">
          <ion-icon name="sunny-outline"></ion-icon>
            <ion-label>Prévison</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="alertes">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>Alertes</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
